.outer-container {
  background-color: #f7f0fa;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: #663a82;
  font-family: "Montserrat", sans-serif;
}

.error-container {
  display: flex;
  color: white;
  background-color: #8a0000;
  padding-left: 1em;
}

#lp-title {
  margin-left: 0.3em;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 0.3em;
}

.project-screen-container {
  background-color: #fafafa;
  height: 100vh;
}

#dashboard-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.dashboard-card-container {
  overflow-y: scroll;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.issue-outer-container {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}

.create-issue-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
  height: 82vh;
}

.issue-form-container {
  color: #663a82;
  display: flex;
  flex-direction: column;
}

.error-message {
  margin-top: 0.4em;
  color: red;
}

.issue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  background-color: rgb(226, 226, 226);
  border-radius: 0.2em;
  margin-bottom: 0.5em;
  width: 50vh;
  max-height: 82vh;
}

.issue-screen-container {
  overflow-y: scroll;
}

.issue-title {
  color: #663a82;
}

#issue-content {
  font-family: "Montserrat", sans-serif;
  border-radius: 0.4em;
  border: 1px solid #663a82;
  padding: 0.6em;
  max-height: 18em;
  max-width: 20em;
}

.issue-close-btn {
  height: 10vh;
  width: 80vw;
  display: flex;
  justify-content: flex-end;
}

.issue-detail-navbar {
  font-family: "Montserrat", sans-serif;
  display: flex;
  color: white;
  align-items: center;
  background-color: #663a82;
  height: 10vh;
  width: 100vw;
  letter-spacing: 0.2em;
  justify-content: center;
}

.project-details-container {
  font-family: "Montserrat", sans-serif;
  color: #663a82;
  padding: 2em;
}

#issue-detail-title {
  color: black;
}

#issue-detail-content {
  color: black;
  word-wrap: break-word;
  width: 20em;
}

#issue-detail-status {
  color: green;
  font-weight: 300;
}

#issue-status-box {
  border-color: #663a82;
  padding: 0.6em;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.4em;
}

.comments-section-container {
  color: #663a82;
  font-family: "Montserrat", sans-serif;
  padding: 2em;
  padding-top: 0;
}

#btn-update-status {
  background-color: #663a82;
  border-radius: 0.3em;
  color: white;
  font-family: "Montserrat", sans-serif;
  border: none;
  margin-left: 1em;
  padding: 0.7em;
}

#btn-add-comments {
  background-color: #663a82;
  border-radius: 0.3em;
  color: white;
  font-family: "Montserrat", sans-serif;
  border: none;
  margin-left: 1em;
  padding: 0.7em;
}

#comments-input {
  border: 1px solid #663a82;
  border-radius: 0.4em;
  width: 12em;
  padding: 1em;
}

.edit-icon {
  margin-right: 0.6em;
  cursor: pointer;
}

.comments-added-container {
  margin-top: 1.5em;
  height: 67vh;
  border: 1px solid #663a82;
  border-radius: 0.4em;
  width: 82vw;
  overflow-y: scroll;
}

.comments-added {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 0.4em;
  word-wrap: break-word;
  padding: 0.3em;
  background-color: #663a82;
  margin: 1em;
}

@media only screen and (min-width: 960px) {
  #dashboard-title {
    margin-left: 1em;
    text-align: start;
  }

  .dashboard-card-container {
    justify-content: flex-start;
  }

  .create-issue-modal-container {
    height: 88vh;
  }

  #issue-content {
    max-width: 40em;
  }

  #comments-input {
    width: 30em;
  }

  .issue-detail-navbar {
    justify-content: flex-start;
    padding-left: 1em;
  }

  .issue-detail-section {
    display: flex;
  }

  .project-details-container {
    width: 40vw;
  }

  .comments-section-container {
    padding: 1.4em;
    width: 60vw;
  }

  .comments-added-container {
    width: 60vw;
  }
}
