.btn {
  background-color: #663a82;
  border: none;
  border-radius: 0.4em;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  height: 3em;
  width: 8em;
  margin: 1em;
  outline: none;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  color: white;
  flex-direction: column;
  width: 100vw;
  background-color: #663a82;
}

.create-project-container {
  text-align: center;
  padding: 1em;
}

#company-title {
  font-family: "Montserrat", sans-serif;
  margin-left: 1em;
  letter-spacing: 0.2em;
  text-align: center;
}

.input-field {
  border: none;
  outline: none;
  border-radius: 0.3em;
  font-size: 1em;
  padding: 1em;
  width: 16em;
  /* margin-right: 1em; */
}

.card-container {
  font-family: "Montserrat", sans-serif;
  padding: 1em;
  width: 16em;
  background-color: white;
  border: 1px solid #663a82;
  border-radius: 0.6em;
  margin: 1em;
  cursor: pointer;
}

#card-title {
  color: #663a82;
}

.card-btn-container {
  display: flex;
  justify-content: flex-end;
}

#delete-btn {
  color: #663a82;
}

#issue-card-content {
  max-height: 5em;
  max-width: 18em;
  overflow: hidden;
}

.issue-card {
  margin: 1em;
  padding: 0.8em;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: #663a82;
  border-radius: 1em;
  border: 1px solid #663a82;
  width: 20em;
}

.delete-btn-container {
  display: flex;
  justify-content: flex-end;
  color: #663a82;
  cursor: pointer;
}

.issue-card-container {
  cursor: pointer;
}

.comments-added {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 0.4em;
  word-wrap: break-word;
  padding: 0.3em;
  background-color: #663a82;
  margin: 1em;
}

.delete-icon {
  margin-right: 0.6em;
  cursor: pointer;
}

@media only screen and (min-width: 960px) {
  .navbar-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
